<%= form_with(model: [ @article, @article.ratings.build ], local: true) do |form| %>
  <p>
    <%= form.label :rating %><br>
    <%= select(:rating, :score, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]) %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
