<h1>Listing articles</h1>
<p>
<%= link_to 'New article', new_article_path %>
</p>
<p>
<%= link_to 'Save articles statistics in a csv file', articles_path(format: 'csv') %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Rating Average</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <% if article.ratings.blank? %>
        <td>No ratings yet</td>
      <% else %>
        <td><%= article.ratings.average(:score).round(1) %> / 5</td>
      <% end %>

      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Rating', article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
