<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Rating Average</h2>
<% if @article.ratings.blank? %>
  <p>No ratings yet</p>
<% else %>
  <p><%= @article.ratings.average(:score).round(1) %> / 5</p>
<% end %>

<h3>Add a rate</h3>
<%= render 'ratings/form' %>

<h2>Comments</h2>
<%= render @article.comments %>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
